
<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <form action="/auth/signup" method="post">
    <div class="form-group">


      <% if (typeof(error) !== 'undefined') { %>
        <h3><%=error.email%></h3>
        <%}%>
          <label for="exampleInputEmail1">Email address</label>
          <% if (typeof(data) !== 'undefined') { %>
            <input type="email" value="<%=data.email%>" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <%}else{%>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <%}%>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <% if (typeof(error) !== 'undefined') { %>
      <h3><%=error.name%></h3>
      <%}%>
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <% if (typeof(data) !== 'undefined') { %>

            <input type="text" value="<%=data.name%>" name="name" class="form-control" id="formGroupExampleInput" placeholder="Example input">

            <%}else{%>
              <input type="text"name="name" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            <%}%>
        </div>


        <% if (typeof(error) !== 'undefined') { %>
          <h3><%=error.password%></h3>
          <%}%>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <% if (typeof(data) !== 'undefined') { %>
                <input type="password" value="<%=data.password%>" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <%}else{%>
                  <input type="password"name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <%}%>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
