<section class="container">
    <form class="form-horizontal">
      <div class="form-group" id="plans">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div id="plans-descriptions">
                <h2><strong>My Plans:</strong></h2>
                <h3>Here you see, edit and create your personal plans.</h3>
                <h4>User: <a href="/users/<%=session._id%>"><strong>@<%=session.email%></strong></a>:</h4>
                <p>
                    To create a new plan just click in the next button.
                    <a href="/users/<%=session._id%>/plans/new" class="btn btn-primary">Create a new plan</a>
                </p>
            </div>
          <% if (typeof(plans) != 'undefined') { %>
                <% plans.forEach(plan => {%>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><a href="/users/<%=session._id%>"><strong>@<%=session.email%></strong></a> 
                            <p><%= plan.title %></p>
                            <img src="<%=plan.imgUrl%>" alt="" height="100px">
                            <p class="text-right">
                                <a href="/users/<%=session._id%>/plans/<%= plan._id %>/update" class="btn btn-success text-right ">Edit</a>
                            </p>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
      </div>
    </form>